body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    align-content: center;
    background-color: black;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    align-content: center;
    text-align: center;
    color: red;
    font-weight: bold;
}

h2 {
    text-align: left;
    color:green;
}

p{
    font-size: 12pt;
}

.results{
    font-size: 9pt;
    color: coral;
}

table{
    width: 50%;
}

a{
    text-decoration: none;
    font-style: italic;
    color: whitesmoke;
}

img{
    object-fit: fill;
    flex-basis: 50%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

#contacts{
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    text-align: center;
}
#contacts span{
    color: cyan;
}

#contacts img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding-top: 10px;
}
#contacts a{
    text-decoration: none;
    color: rgba(156, 60, 48, 0.842);
    font-size: 1rem;

}
#contacts p{
    text-decoration: none;
    color: rgba(156, 60, 48, 0.842);
    font-size: 1rem;

}
#contacts .links{
    margin-bottom: 0;
    padding-bottom: 0;
    align-content: center;
}

#contacts .links a{
    font-size: 0.2rem;
}
